<!-- table of contents -->
<table>
    <!-- table:header -->
    <tr>
        <th>Id </th>
        <th>Task </th>
        <th>Created Date </th>
    </tr>
    <tr ng-repeat="todo in todos track by $index">
        <td>{{todo.id}}</td>
        <td>{{todo.task}}</td>
        <td>{{todo.createdDate | date:'MM/dd/yyyy' }}</td>
    </tr>
</table>

<div class="pagination">
    <span class="form-group pull-left page-size form-inline">  
        <select id="ddlPageSize" 
                ng-change="changePageSize()"
                ng-model="pageSizeSelected"
                ng-options="d as d.Name for d in DropDownList">  
        </select>  
    </span>  
    <div class="pull-right">  
        <pagination total-items="totalCount" ng-change="pageChanged()" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>  
        <a class="btn btn-primary">Page: {{pageIndex}} / {{numPages}}</a>  
    </div>
</div>